In [3]:
import pandas as pd

Ideas:
- Does defense really win championships?
    - Coaches always tell us growing up "offense wins games, defense wins championships", is this really true?
        - examine summary stats of teams that win most games in the season and teams that win championships, create data viz of key stats
        -

Intro:

"Offense wins games... Defense wins championships!" -- a quote that every athlete has heard from their coaches at every level of the game. As young athletes we don't question whether the phrase carries any truth or whether it's just meant to get us to stop thinking about our own points tally and start playing some defense, but as a data science student I am now in a position to do just that. In keeping with the season, as MarchMadness is upon us, I will explore the truthfulness of this quote in the context of NCAA basketball. In this article, I outline the process I used to clean and visualize the data from 10 NCAA Division I men's basketball seasons and how I used [insert type of regression model I used] to discern which team statistics have the largest association with winning regular season games and championships.

The code from my analysis can be found within my github repository, [here](Insert repo link).

In [4]:
cbb = pd.read_csv('data/cbb.csv')
cbb = cbb.sort_values(by='YEAR')
cbb.head(10)

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,...,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,POSTSEASON,SEED,YEAR
1761,Southern Illinois,MVC,30,13,100.2,100.8,0.4840,48.0,53.1,19.4,...,42.5,48.1,51.8,31.8,36.9,63.1,-8.3,NaN,NaN,2013
1933,Hofstra,CAA,31,6,88.1,100.0,0.1890,42.0,48.9,22.2,...,36.7,41.6,50.0,28.7,31.0,64.9,-19.7,NaN,NaN,2013
1934,Longwood,BSth,31,6,93.5,114.2,0.0910,48.3,54.4,22.7,...,34.7,48.3,53.1,32.1,38.3,70.7,-19.5,NaN,NaN,2013
1935,SIU Edwardsville,OVC,25,7,90.4,106.4,0.1338,47.7,51.6,21.7,...,36.9,44.6,52.6,36.4,33.0,66.2,-13.8,NaN,NaN,2013
1936,Tennessee Martin,OVC,28,7,91.9,112.9,0.0861,43.3,53.5,21.1,...,44.9,40.9,53.3,32.7,35.9,68.4,-16.0,NaN,NaN,2013
1937,Seattle,WAC,29,7,92.5,97.1,0.3642,47.1,46.7,25.5,...,42.7,46.5,45.9,32.2,32.1,70.1,-16.2,NaN,NaN,2013
1938,UNC Greensboro,SC,29,7,96.1,106.4,0.2357,47.0,50.2,17.8,...,51.9,45.0,48.2,33.8,36.2,71.8,-18.0,NaN,NaN,2013
1939,Chicago St.,GWC,29,7,90.6,102.1,0.2017,44.4,50.5,21.2,...,48.1,41.9,48.6,32.6,36.0,67.1,-15.7,NaN,NaN,2013
1940,UMBC,AE,30,7,94.8,107.4,0.1909,46.6,51.2,21.3,...,44.0,44.2,53.8,33.9,30.9,67.7,-17.6,NaN,NaN,2013
1941,Navy,Pat,30,7,87.7,102.8,0.1392,44.1,49.6,18.5,...,38.4,42.2,50.7,32.1,31.9,61.0,-18.2,NaN,NaN,2013

In [ ]:
cbb[cbb['YEAR'] == 2013]

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,...,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,POSTSEASON,SEED,YEAR
1761,Southern Illinois,MVC,30,13,100.2,100.8,0.4840,48.0,53.1,19.4,...,42.5,48.1,51.8,31.8,36.9,63.1,-8.3,NaN,NaN,2013
1933,Hofstra,CAA,31,6,88.1,100.0,0.1890,42.0,48.9,22.2,...,36.7,41.6,50.0,28.7,31.0,64.9,-19.7,NaN,NaN,2013
1934,Longwood,BSth,31,6,93.5,114.2,0.0910,48.3,54.4,22.7,...,34.7,48.3,53.1,32.1,38.3,70.7,-19.5,NaN,NaN,2013
1935,SIU Edwardsville,OVC,25,7,90.4,106.4,0.1338,47.7,51.6,21.7,...,36.9,44.6,52.6,36.4,33.0,66.2,-13.8,NaN,NaN,2013
1936,Tennessee Martin,OVC,28,7,91.9,112.9,0.0861,43.3,53.5,21.1,...,44.9,40.9,53.3,32.7,35.9,68.4,-16.0,NaN,NaN,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2134,Butler,A10,35,26,109.2,93.0,0.8624,50.7,46.7,20.2,...,36.1,50.2,45.3,34.3,33.2,64.7,4.7,R32,6.0,2013
2364,Pacific,BW,33,20,104.7,101.1,0.5991,50.5,50.0,17.8,...,39.3,46.8,48.0,38.9,35.4,63.4,-5.1,R64,15.0,2013
2133,VCU,A10,36,27,113.8,92.1,0.9195,51.3,49.9,16.9,...,40.3,50.5,50.1,35.1,32.9,68.1,2.6,R32,5.0,2013
2132,Saint Louis,A10,35,28,108.0,87.5,0.9181,50.4,45.5,17.6,...,35.0,50.0,44.1,34.0,33.1,64.7,3.8,R32,4.0,2013
2131,Gonzaga,WCC,34,31,118.9,90.2,0.9599,54.9,44.9,17.2,...,29.9,55.0,42.1,36.5,32.9,65.1,7.6,R32,1.0,2013